@model ClientQuanLyKhachSan.Areas.Admin.Models.ModelViewAdmin.ThongTinWeb
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Cap nhat thong tin web";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="dasboard-desciption">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="padding-top" style="height: 62px;"></div>
                <div class="header-inner">
                    <form asp-area="Admin" asp-controller="QuanLyThongTinWeb" asp-action="DanhSachThongTinWeb" method="post" enctype="multipart/form-data" style="width: 100%;">
                        <div class="iner-search">
                            <div class="left" style="display: flex;">
                                <input type="text" class="form-control" placeholder="Search Here"
                                       aria-label="Username" aria-describedby="basic-addon1"
                                       style="box-shadow: none;" name="ten">
                                <button type="submit" class="btn-search">Tìm kiếm</button>
                            </div>
                            <div class="sidebar-btn" id="sidebar-active">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="admin-icon">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="slider">
                <p style="color: #fff; padding-left: 40px;">Quản lý thông tin web</p>
            </div>
            <div class="image">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                        
                        <form asp-area="Admin" asp-controller="QuanLyThongTinWeb" asp-action="CapNhatThongTinWeb" method="post" enctype="multipart/form-data">
                            <div class="col-lg-10">
                                <div class="image-title" style="margin-bottom: 50px;">
                                    <h2>Cập nhật thông tin web</h2>
                                    <h6>Cập nhật thông tin: </h6>
                                </div>
                                <div class="image-infor">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1" style="display: inline-block; width: 150px;">Loại thông tin</span>
                                        <input name="LoaiThongTin" type="text" class="form-control" aria-describedby="basic-addon1" value="@Model.LoaiThongTin" readonly>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1" style="display: inline-block; width: 150px;">Nội dung</span>
                                        <textarea name="MoTa" class="form-control" style="height: 150px; resize: vertical;" placeholder="Mô tả" aria-describedby="basic-addon1">@Model.MoTa</textarea>
                                    </div>
                                    @if (Model.LoaiThongTin == "Dịch Vụ Nhà Hàng" || Model.LoaiThongTin == "Du Lịch & Cắm Trại" || Model.LoaiThongTin == "Sự Kiện & Tổ Chức Tiệc")
                                    {
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1" style="display: inline-block; width: 150px;">Chọn ảnh</span>
                                            <input name="Images" type="file" class="form-control" aria-describedby="basic-addon1">
                                        </div>
                                    }
                                  
                                   
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="button-group">
                                    <button class="setting-btn" type="submit">Cập nhật</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
