@model ClientQuanLyKhachSan.Areas.Admin.Models.ModelViewAdmin
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="dasboard-desciption">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="padding-top" style="height: 62px;"></div>
                <div class="header-inner">
                    <form asp-area="Admin" asp-controller="QuanLyTaiKhoan" asp-action="DanhSachTaiKhoan" method="post" enctype="multipart/form-data" style="width: 100%;">
                        <div class="iner-search">
                            <div class="left" style="display: flex;">
                                <input type="text" class="form-control" placeholder="Search Here"
                                       aria-label="Username" aria-describedby="basic-addon1"
                                       style="box-shadow: none;" name="ten">
                                <button type="submit" class="btn-search">Tìm kiếm</button>
                            </div>
                            <div class="sidebar-btn" id="sidebar-active">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="admin-icon">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="slider">
                <p style="color: #fff; padding-left: 40px;"> Quản lý tài khoản</p>
            </div>
            <div class="image">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="image-title">
                                <h2>Danh sách tài khoản</h2>
                                <h6>Cập nhật thông tin tài khoản: </h6>
                            </div>
                            @if (Model.taiKhoanNguoiDungs.Any())
                            {
                                int i = 0;
                                <table class="table" style="align-items: center;">
                                    <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Tên</th>
                                            <th scope="col">Email</th>

                                            <th scope="col">Trạng thái</th>

                                            <th scope="col" style="padding-left: 20px;">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.taiKhoanNguoiDungs)
                                        {
                                            i++;
                                            <tr>
                                                <th scope="row">@i</th>
                                                <td>@item.Name</td>
                                                <td>@item.Email</td>

                                                @if (item.TrangThai == 0)
                                                {
                                                    <td style="color:orange;">Chưa xác thực</td>
                                                }
                                                @if (item.TrangThai == 1)
                                                {
                                                    <td style="color:green;">Đã kich hoạt</td>
                                                }
                                                @if (item.TrangThai == 2)
                                                {
                                                    <td style="color:red;">Đã bị chặn</td>
                                                }

                                                <td>
                                                    <a href="@Url.Action("CapNhatTaiKhoan", "QuanLyTaiKhoan", new { Areas="Admin", id = item.Id })" style="color: #000;">
                                                        <i class="fa fa-pencil-alt " id="first-icon"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <img src="~/images/no-result-icon.jpg" style="height:450px; width:450px">
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

